<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>
  <br>
  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.select :gender, [ 'Male','Female','Other' ], :prompt => 'Select One' %>
  </div>
  <br>
  <div>
    <%= form.label :designation, style: "display: block" %>
    <%= form.text_field :designation %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
